@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;

  background: #071120;

  overflow-x: hidden;

  color: black;
}

#root {
  min-height: 100vh;
}

@keyframes fadeIn {
  from {
    opacity: 0;

    transform: translateY(10px);
  }

  to {
    opacity: 1;

    transform: translateY(0px);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-in-out;
}

/* PREMIUM SCROLLBAR */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #071120;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #2563eb, #f4c430);

  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #3b82f6, #ffd54f);
}

/* SELECTION */

::selection {
  background: #f4c430;

  color: #071120;
}
